---
interface Props{
    content:string
}
const {content} = Astro.props
---
{content===""? <div/> :
    <p class="text-lg border-base-200 border-4 p-4 rounded-lg mb-4 sm:mx-8 md:mx-7 lg:mx-44">
        {content}
    </p>
}