---

interface Props{
  migration:string,
  dimorphism:string,
}

const {migration,dimorphism} = Astro.props
---
<div class="mt-4 stats divide-primary shadow stats-horizontal border-primary border-4">
  <div class="stat place-items-center">
    <div class="stat-title">Migración:</div>
    <div class="stat-value text-3xl">{migration ? "Si": "No" }</div>
  </div>
  <div class="stat place-items-center">
    <div class="stat-title">Dimorfismo:</div>
    <div class="stat-value text-3xl">{dimorphism ? "Si": "No"}</div>
  </div>
</div>