---
interface Props{
    order:string,
    species:string,
    size:string
}

const {order,species,size} = Astro.props
---
<div class="stats divide-primary shadow stats-vertical md:stats-horizontal border-primary border-4">
  <div class="stat place-items-center">
    <div class="stat-title">Especie:</div>
    <div class="stat-value text-3xl">{species}</div>
  </div>
  <div class="stat place-items-center">
    <div class="stat-title">Orden:</div>
    <div class="stat-value text-3xl">{order}</div>
  </div>
  <div class="stat place-items-center">
    <div class="stat-title">Tamaño:</div>
    <div class="stat-value text-3xl">{size}</div>
  </div>
</div>