---
interface Props{
    spanish:string,
    latin:string,
    english:string
}
const {spanish, latin, english} = Astro.props
---
<div class="flex flex-col items-center md:order-3 mb-4 md:mb-0">
    <h1 class="font-bold text-4xl text-center">{spanish}</h1>
    <h1 class="font-semibold italic text-2xl text-center">{latin}</h1>
    <h1 class="font-semibold  text-2xl text-center">{english}</h1>
</div>