---
import BirdInfo from "../../components/info/BirdInfo.astro";
import Hero from "../../components/Hero.astro";
import Navbar from "../../components/Navbar.astro";
import Site from "../../layouts/Site.astro";
import birds from "../../assets/data/birds-full.json";

export async function getStaticPaths() {
    //switched to local data json.
    //const response = await fetch("https://aves.ninjas.cl/api/birds");
    //const data = await response.json();
    return(
        birds.map((bird,index) => ( 
            {
                params:{bird:bird.data.uid}, 
                props:{name:bird.data.names.spanish, index:index}
            }
        ))
    ) 
}

const { bird } = Astro.params;
const { name, index} = Astro.props;
---
<Site title={name}>
    <div class="flex flex-col h-screen">
        <Navbar current="birds"></Navbar>
        <Hero>
            <div class="w-full">
                <BirdInfo url={index}></BirdInfo>
            </div>
        </Hero>
    </div>
</Site>