---
import BirdInfo from "../../components/info/BirdInfo.astro";
import Hero from "../../components/Hero.astro";
import Navbar from "../../components/Navbar.astro";
import Site from "../../layouts/Site.astro";

export async function getStaticPaths() {
    const response = await fetch("https://aves.ninjas.cl/api/birds");
    const data = await response.json();
    return(
        data.map(elem => ( 
            {
                params:{bird:elem.uid}, 
                props:{name:elem.name.spanish, url:elem._links.self}
            }
        ))
    ) 
}

const { bird } = Astro.params;
const { name, url} = Astro.props;
---
<Site title={name}>
    <div class="flex flex-col h-screen">
        <Navbar current="birds"></Navbar>
        <Hero>
            <BirdInfo url={url}></BirdInfo>
        </Hero>
    </div>
</Site>