---
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Site from "../layouts/Site.astro";

import birds from "../assets/data/birds-full-ssh.json";
import Search from "../components/birds/Results";
---

<Site title="Bird Blog | About.">
  <div class="flex flex-col h-screen">
    <Navbar current="birds" />
    <Hero>
        <Search client:load searchList={birds}/>
    </Hero>
  </div>
</Site>
