---
import Site from "../layouts/Site.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Landing from "../components/Landing.astro";
---

<Site title="Birds Blog | Home">
	<div class="flex flex-col h-screen">
		<Navbar></Navbar>
		<Hero>
			<Landing></Landing>
		</Hero>
    </div>
</Site>