---
interface Props{
    url:string
}
const {url} = Astro.props;

const response = await fetch(url);
const data = await response.json();
---

<h1>nombre : {data.name.spanish}</h1>
<p>hab : {data.habitat}</p>
<p>fact : {data.didyouknow}</p>