<section class="flex-auto">
    <div class="mx-4 mb-4 p-3 border-gray-200 relative rounded  bg-gray-50 dark:bg-zinc-800 dark:border-zinc-700
    h-full">
        <slot>
        </slot>
    </div>
</section>