---

---
<div class="grid grid-cols-5 h-full">
    <div class="col-span-2 hero-content flex-col items-end ml-8">
        <h1 class="text-7xl text-slate-200">Aves de Chile</h1>
        <p class="text-right text-lg text-slate-100">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero voluptatem libero dignissimos, asperiores a exercitationem fuga ex quia reiciendis minus maiores voluptates quos suscipit blanditiis, laudantium incidunt ea nam perspiciatis?</p>
		<a href="/birds"> 
            <button class="btn btn-secondary">Descubre las Aves</button>
        </a>
    </div>
    <div class="col-span-3 m-4">
        <img class="mask mask-half-1 mask-parallelogram rounded-lg h-full" src="/Aguila-JorgedelaTorre.jpg" alt="Aguila chilena - Jorge de la Torre">
    </div>
</div>