---
interface Props{
    title?:string
}

const {title = "Birds Blog"} = Astro.props;
---
<!DOCTYPE html>
<html lang="en" class="bg-base-200" >
<head>
    <script is:inline>
        // ☝️ This script prevent the FART effect.
        if (localStorage.getItem("theme") === null) {
          document.documentElement.setAttribute("data-theme", "dracula");
        } else
          document.documentElement.setAttribute(
            "data-theme",
            localStorage.getItem("theme")
          );
        
        if(localStorage.getItem("switch") === null) {
            document.documentElement.setAttribute("data-switch", "off");
        }else{
            document.documentElement.setAttribute(
            "data-switch",
            localStorage.getItem("switch")
          );
        }
        // "theme" LocalStorage value is set by the package to remember user preference.
        // The value is checked and applyed before rendering anything.
    </script>
    <script>
        
        import { themeChange } from 'theme-change';
        themeChange();
        // 👆 you could import the CDN directly instead of these two lines
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.svg">
    <title>{title}</title>
</head>
<body>
        <slot/> <!-- content injection -->
</body>
</html>